@import url('https://fonts.googleapis.com/css?family=Lora:700');
@import url('https://use.typekit.net/cco7rbw.css');

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$bigdesktop-breakpoint: 1300px;
// $superbigdesktop-breakpoint: 1400px;

@mixin tablet {
	@media only screen and (min-width: $tablet-breakpoint){
		@content;
	}
}

@mixin desktop {
	@media only screen and (min-width: $desktop-breakpoint){
		@content;
	}
}

@mixin bg-desktop {
	@media only screen and (min-width: $bigdesktop-breakpoint){
		@content;
	}
}

$teal: #99ccc0;
$gold: #dabd9d;

@mixin lora-bold{
	font-family: "lora";
    font-weight: 700;
}